Source: django-xmlrpc
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.4), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.9.3.0

Package: django-xmlrpc
Architecture: all
Homepage: https://launchpad.net/django-xmlrpc
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.1)
Description: XMLRPC library for Django
 django_xmlrpc offers a means by which a Django developer can expose their views (or indeed any other function) using XML-RPC.
